.head {
	font-family: arial;
	background-color: cadetblue;
}
.head span {
	float: right;
	color: #FFF;
	margin-right: 26px;
}
.headOne {
	margin-left: 10px;
}
.headOne h2 {
	margin: 0;
}
